# [Install]
# WantedBy=multi-user.target

[Unit]
Description=ISC KEA IPv4 DHCP daemon

[Service]
ExecStart=/usr/sbin/kea-dhcp4 -c /etc/kea/kea-dhcp4.conf

[Install]
WantedBy=multi-user.target
